/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
  }
  
  main {
    margin: 20px 0;
  }
  
  footer {
    margin-top: 5rem;
    padding: 10px;
    text-align: center;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: .7rem;
    color: #333;
    
  }
  
  /* Responsive tweaks */
  @media (max-width: 600px) {
    body {
      padding: 10px;
    }
  
    header, footer {
      padding: 15px;
    }
  }
.about{
    margin-top: 2.5rem;
    min-width: 300px;
    max-width: 680px;
    justify-self: center;
}

.aboutHeader {
    color:rgb(0, 0, 0);
    font-weight: 600;
    font-family: "Inter", sans-serif;
    font-size: 3rem;
    /* border: 2px solid #b72222; */
    line-height: 2.8rem;
    letter-spacing: -1px;

}

.aboutMe {
    color: #737373;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: .9rem;
    line-height: 1.4rem;
    /* border: 2px solid #333333; */
    margin-bottom: 1rem;
    
}

.brief {
    margin-top: .9rem;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    /* border: 2px solid #696969; */
    color: #484848;
    font-weight: 500;
    font-style: medium;

}

.enclosedAbout {
    margin-bottom: 2.5rem;
    width: auto;
    /* border: 2px solid #244dad; */
    display: flex;
    flex-direction: row;
    justify-self:center;
}

.boxed {
    width: 70%;
    /* border: 2px solid #333333; */
}

.photo {
    width: 150px; height: 150px;
    align-self: center;
    justify-self: center;
    margin-left: 1rem;
    border-radius: 50%;
    object-fit: cover;
}

.header {
    margin-top: 3rem;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: .3rem;
    text-align: left;
    
    
}

.section-container {
    max-width: 680px;
    margin: 0 auto;
    
}

.workExperience {
    display: flex;
    flex-direction: row;
    /* border: 2px solid #d61e9f; */
    margin-bottom: 1.2rem;
    max-width: 680px;
    min-width: 300px;
    justify-self: center;
    width: 100%
}

.companyLogo {
    /* border: 2px solid #333333; */
    justify-content: center;
    align-content: top;
}


.clean-bullets {
    list-style: none;
    margin-left: -17px;
  }
  
  .clean-bullets li {
    position: relative;
    padding-left: .9rem;
    margin-bottom: 0.3rem;
    line-height: 1.5;
  }
  
  .clean-bullets li::before {
    content: '◯'; /* hollow circle */
    position: absolute;
    left: 5px;
    top: 5.5px;
    color: #838383;
    font-size: 0.3rem;
    line-height: 1.5;
  }

  li {
    font-weight: 400;
    font-family: "Inter", sans-serif;
    font-size: .7rem;
    color: #838383;
  }

.companyLogo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .utd-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* object-fit: cover; */
  }

.stack {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: .5rem;
}


.workHeader {
    /* border: 2px solid #8dbd2d; */
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.companyName {
    /* border: 2px solid #4518c2; */
    font-weight: 600;
    font-family: "Inter", sans-serif;
    font-size: .8rem;
    color: #000;
}

.timeWorked {
    text-align: right;
 /* ensures it doesn't collapse too much */
  margin-left: auto;
    /* border: 2px solid #551358; */
    font-weight: 600;
    font-family: "Inter", sans-serif;
    font-size: .8rem;
    color: #747474;
}



.role {
    /* border: 2px solid #750e0e; */
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: .7rem;
    color: #000;
    margin-bottom: -5px;
}

.skill-container{
    /* border: 2px solid #7cbc1c; */
    margin-left: 1.3rem;

}

.language-side{
    /* border: 2px solid #2abf8d; */
    font-weight: 600;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

.skill{
    /* border: 2px solid #e5293f; */
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: .9rem;
    margin-top: .3rem;
    color: #000000;
}

.progress-bar{
    margin-top: .4rem;
    width: 100%;
    height: 2.5rem;
    background-color: #cccccc;
    border-radius: 10px;
    /* border: 2px solid #351358; */
    margin-bottom: .4rem;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background:  #3a3939; /* green gradient */
    
}

.job-description {
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: .7rem;
    color: #000;
    padding-left: 2px;
}

.jobDetails {
    margin-top: 0.5rem;
    padding-left: 1rem;
  }
  
  .marker {
    padding-left: 1rem;
    margin-top: 0.3rem;
    font-size: 0.95rem;
  }

.boxed-header {
    justify-self: center;
    margin-top: 7rem;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #ffffff;
    background-color: #000000;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border-radius: 7px;
}

.description-header {
    justify-self: center;
    align-items: center;
    margin-top: .5rem;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    font-size: 3rem;
    max-width: 680px;
    color: #000000;
    letter-spacing: -2px;
}

.description {
    justify-self: center;
    text-align: center;
    color: #737373;
    max-width: 500px;
    min-width: 300px;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

a{
    color: #0077cc;
    text-decoration: none;
}

.project-name{
    /* border: 2px solid #351358; */
    font-weight: 600;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    margin-bottom: -.3rem;
    padding: 5px;
    color: #000000;


}
.project-container{
    margin-top: 4rem;
    align-self: center;
    justify-self: center;
    border-radius: 10px;
    border: 1px solid #c2c2c2;
    max-width: 500px;
    min-width: 300px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

.project-date {
    /* border: 2px solid #351358; */
    color: #000000;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: .79rem;
    margin-bottom: .6rem;
    padding: 5px;
}

.project-description {
    /* border: 2px solid #351358; */
    font-weight: 400;
    font-family: "Inter", sans-serif;
    font-size: .75rem;
    margin-bottom: 1rem;
    padding: 5px;
    color: #737373;
    letter-spacing: .2px;

}
.project-tab-boxes {
    /* border: 2px solid #c16c26; */
    display: flex;
    flex-direction: row;
    padding: 7px;
}

.project-button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 30px;
    width: 70px;
    color: #ffffff;
    background-color: #000000;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    font-size: .8rem;
    border-radius: 10px;
    transition: background-color 0.4s ease;
  }
  
  .project-button:hover {
    background-color: #a3a3a3; /* Darker indigo */
}

.project-website {
    justify-content: center;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 30px;
    width: 70px;
    color: #ffffff;
    background-color: #000000;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border-radius: 7px;
}
.project-source {
    justify-content: center;
    text-align: center;
    width: 70px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 30px;
    
    color: #ffffff;
    background-color: #000000;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border-radius: 7px;
}

.project-image {
    
    /* border: 1px solid #351358; */
    height: 200px;
    width: 500px;
}